{% extends '_base.html' %}
2{% load static %}


{% block title %}Sign Up{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {% for field in form %}
        {{ field.errors }}
        <div class="form-floating">
            {{ field }} {{ field.label_tag }}

            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="d-grid">
        <button type="submit" class="btn btn-warning border border-2 border-dark">Sign Up</button>
    </div>
</form>

{% endblock %}
