{% extends '_base.html' %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block account %}
    <h1>{% trans "Change Password" %}</h1>
    <h6 class="text-success mt-3">{% trans 'Your password is now changed.' %}</h6>

    <a href="{% url 'account_login' %}" class="text-decoration-none">
        <div class="d-grid mt-4">
            <button class="btn btn-success border border-2 border-dark">
                Go to Login page
            </button>
        </div>
    </a>
{% endblock %}